.b_board {
	//overflow: hidden;
	position: relative;
	max-width: 100%;

  .b_board--table-container {
	width: 100%;
	height: 0;
	position: relative;


	table {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	}
  }

  table {

	width: 100%;

	tr {
	  vertical-align: top;
	  height: 1%;


	  td {
		height: 100%;
	  }
	}

	.main {
	  min-height: 66.66%;
	  max-height: 66.66%;
	  td {
		width: 33.33%;
		overflow-y: auto;
	  }
	}
	.foot {
	  min-height: 33.33%;
	  max-height: 33.33%;
	  td {
		width: 100%;
		overflow-y: auto;
	  }
	}
  }

  td {
	vertical-align: top;
	min-height: 100%;
  }
}

#historyTaskModal {
  .modal-body {
	max-height: 300px;
	overflow-y: auto;
  }
}